@CHARSET "UTF-8";
body  {
	background-image: url("/../../fond.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
}

* {
	 margin: 0px; 
	 padding: 0px; 
}

.arribas{
	width:100px;
	height:100px;
	margin:auto;
	margin-left:auto;
}

.tablasas{
	margin: 10px; 
}

#capa1 {
	position: absolute;
	z-index: 40;
}


#capa11 {
	position: absolute;
	z-index: 40;
}

.menu {
	
}

ul, ol {
	list-style: none;
}

.nav {
	padding: 0px 0px;
}



.nav li ul {
	display: none;
	position: absolute;
}

.nav li ul a {
	font-size: 18px;
	padding: 12px 35px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -190px;
	top: 0px;
}

.nav li ul li ul a {
	font-size: 18px;
	padding: 11px 28px;
}

.principal {
	width: 100%;
	max-width: 79%;
	margin: 30px auto;
	z-index: 0;
	right: 0;
	left: 0;
}

.imagenes {
	width: 100%;
	z-index: 0;
}

.imagenes img {
	width: 100%;
	z-index: 0;
}

.maps {
	margin: 10px auto;
	margin-left: 30px;
}

.pagos {
	margin: 0px auto;
}

.pagos img {
	width: 60%;
	z-index: 0;
	margin-left: 0px;
}

.texto {
	font-family: italic;
	font-size: 23px;
}

th {
	width: 200px;
}

#bottom {
	background: url(images/bottom.gif) left top repeat-y;
	color: #585858;
	margin-left: 200px;
}

#bottom h1 {
	color: #000000;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
	padding: 15px 0px 0px 0px;
	width: 500px;
}

#b_col1 {
	width: 198px;
	height: 190px;
	float: left;
	margin-left: -7%;
	border-right: solid #000000;
}

#b_col2 {
	width: 208px;
	height: 190px;
	float: left;
	margin-left: 50px;
	border-right: solid #000000;
}

#b_col3 {
	width: 158px;
	height: 190px;
	float: left;
	margin-left: 50px;
	text-align: left;
	border-right: solid #000000;
}

#b_col4 {
	width: 210px;
	height: 190px;
	float: left;
	margin-left: 50px;
	text-align: left;
	border-right: solid #000000;
}

.line {
	border-top: 1px solid #585858;
	margin-left: 7%;
	width: 86%;
}

.fu_i {
	width: 10%;
	padding: 0px 14px 0px 0px;
	vertical-align: middle;
}

.spis_fu {
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.spis_fu li {
	padding: 8px 0px 2px 0px;
	background: none;
}

.spis_fu li a {
	color: #585858;
	text-decoration: none;
}

.spis_fu li a:hover {
	text-decoration: underline;
}

.spis_fu li {
	padding: 8px 0px 2px 0px;
	background: none;
}

.spis_fu li img {
	width: 10%;
}



#fecha {
	font-size: 20px;
}

.viper{
	font-family: times;
	font-style: italic;
	font-size: 20px;
	text-align: right;
	background-color: #EFEEEC;
}

form {
	padding: 0px;
	cursor: pointer;
	display: block;
	margin: auto auto;
	font-size: 28px;
	color: #d26900;
}



h2, h2 {
	font-size: 25px;
	text-align: center;
	color: #807747;
}

pre {
	text-align: right;
	font-size: 15px;
}

pre.aqui {
	font-size:25px;
  color: #c05521;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  position:initial;



}

p {
	text-align: center;
	font-size: 15px;
	}
.horario{
     font-family:TimesRoman;
     font-size:20px;
     
	}
	.po
{
 width: 136px;
  height: 65px;
  background-color: #000000;
  
}
.po:hover
{
  background-color: #808080;
}
.po{
color: orange;	
}
	.sub
{
  width: 190px;
  height: 50px;
  background-color: #000000;
  
}
.sub:hover
{
  background-color: #808080;
}
.sub{
color: orange;	
}

#horarios {
	background-image: url('/../atardecer.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 79%;
	height: 100%;
	margin: 0 7% 0 7%;
	right: 0 ; left: 0;
}
