@CHARSET "UTF-8";
body {
	background-image: url("/../fond.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
}

* {
	margin: 0px;
	padding: 0px;
}

ul, il {
	list-style: none;
}

.navi {
	padding: 0px 0px;
}

.navi li a {
	background-color: #000;
	color: #D2691E;
	font-size: 25px;
	text-decoration: none;
	padding: 20px 20px;
	display: block;
}

.nav li a:hover {
	background-color: #A9BCF5;
}

.nav li ul {
	display: none;
	position: absolute;
}

.nav li ul a {
	font-size: 18px;
	padding: 12px 35px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -125px;
	top: 0px;
}

.nav li ul li ul a {
	font-size: 18px;
	padding: 11px 28px;
}

#titulo {
	font-size: 50px;
}

h1, h3, h5 {
	margin-left: 17%;
}

table tr td h3 a:link {
	font-size: 40px;
	text-decoration: none;
	color: black;
}

.des, h3 {
	text-align: justify;
	font: oblique 120% sans-serif bold;
}

.img {
	width: 500px;
	height: 300px;
}


.des {
	width: 300px;
}