@CHARSET "UTF-8";
body  {
	background-image: url("/../fond.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
}

* {
	margin: 0px;
	padding: 0px;
}

#capa1 {
	position: absolute;
	z-index: 40;
}


#capa11 {
	position: absolute;
	z-index: 40;
}

.menu {
	
}

ul, ol {
	list-style: none;
}

.nav {
	padding: 0px 0px;
}

.nav li a {
	background-color: #000;
	color: #D2691E;
	font-size: 25px;
	text-decoration: none;
	padding: 20px 20px;
	display: block;
}

.nav li a:hover {
	background-color: #A9BCF5;
}

.nav li ul {
	display: none;
	position: absolute;
}

.nav li ul a {
	font-size: 18px;
	padding: 12px 35px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
}

.nav li ul li ul {
	right: -125px;
	top: 0px;
}

.nav li ul li ul a {
	font-size: 18px;
	padding: 11px 28px;
}

.principal {
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;
	z-index: 0;
	right: 0;
	left: 0;
}

.imagenes {
	width: 100%;
	z-index: 0;
}

.imagenes img {
	width: 100%;
	z-index: 0;
}

.maps {
	margin: 10px auto;
	margin-left: 30px;
}

.pagos {
	margin: 0px auto;
}

.pagos img {
	width: 60%;
	z-index: 0;
	margin-left: 0px;
}

.texto {
	font-family: italic;
	font-size: 23px;
}

th {
	width: 200px;
}

#bottom {
	background: url(images/bottom.gif) left top repeat-y;
	color: #585858;
	margin-left: 200px;
}

#bottom h1 {
	color: #000000;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
	padding: 15px 0px 0px 0px;
	width: 500px;
}

#b_col1 {
	width: 144px;
	float: left;
	margin-left: 26px;
	border-right: solid #000000;
}

#b_col2 {
	width: 208px;
	float: left;
	margin-left: 83px;
	border-right: solid #000000;
}

#b_col3 {
	width: 158px;
	float: left;
	margin-left: 102px;
	text-align: left;
	border-right: solid #000000;
}

#b_col4 {
	width: 165px;
	float: left;
	margin-left: 120px;
	text-align: left;
	border-right: solid #000000;
}

.line {
	border-top: 1px solid #585858;
}

.fu_i {
	width: 10%;
	padding: 0px 14px 0px 0px;
	vertical-align: middle;
}

.spis_fu {
	list-style: none;
	padding: 0px 0px 0px 0px;
}

.spis_fu li {
	padding: 8px 0px 2px 0px;
	background: none;
}

.spis_fu li a {
	color: #585858;
	text-decoration: none;
}

.spis_fu li a:hover {
	text-decoration: underline;
}

.spis_fu li {
	padding: 8px 0px 2px 0px;
	background: none;
}

.spis_fu li img {
	width: 10%;
}



#fecha {
	font-size: 20px;
}

.viper{
	font-family: times;
	font-style: italic;
	font-size: 20px;
	text-align: right;
	background-color: #EFEEEC;
}


table {
	
}



.table {
	height: 500px;
	width: 100%; 
}

form {
	padding: 30px;
	cursor: pointer;
	display: block;
	margin: auto auto;
	font-size: 20px;
	color: #6F6F6F;
}

select {
	background: #ADFFD6;
	background-repeat: no-repeat;
	font-size: 20px;
	border: 0;
	border-radius: 15px;
	color: #6F6F6F;
	width: 250px;
	height: 50px;
}


h2, h2 {
	font-size: 25px;
	text-align: center;
	color: #807747;
}

pre {
	text-align: right;
	font-size: 15px;
}

p {
	margin-left: 17%;
	font-size: 20px;
	}
#titulo {
	font-size: 50px;
}

h1, h5 {
	margin-left: 17%;
}

#conteiner {
	margin-left: 17%;
	margin-right: 17%;
}


.sec {
	text-align: justify;
	font: oblique 120% sans-serif bold;
}


.des {
	width: 300px;
}
img.img {
	width:600px;
	height: 400px;
}